<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/my-login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="107468542942-18du2vvplbk22cmjil63g16tis4jth6o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  </head>

  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <img src="static/img/logo.jpg" alt="logo">
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Login with Google</h4>
                <form method="POST" class="my-login-validation" novalidate="">
                  <div class="form-group">

                    <form action="login" id="login" method="POST">
                      <input type="hidden" name="token" id="google_token">
                      <input id="submit_button" type="submit" style="visibility:hidden;">
                    </form>

                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    <script>
                      function onSignIn(googleUser) {
                        const id_token = googleUser.getAuthResponse().id_token;
                        $('#google_token').val(id_token);
                        $('#submit_button').click();
                      }
                    </script>
                    <div class="mt-4 text-center">
                      Your account will be created automatically when you login
                    </div>
                </form>
                </div>
              </div>
              <div class="footer">
                Copyright &copy; 2019 &mdash; Willian Conk
              </div>
            </div>
          </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/js/my-login.js"></script>
  </body>

</html>
